@model testactualisation.Appdata.Commentaires

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Commentaires</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TexteCom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TexteCom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Categorie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categorie)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdresseCourrielNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdresseCourrielNavigation.AdresseCourriel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NumCom">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
