@model IEnumerable<testactualisation.Appdata.AnalyseCompétence>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Obligatoire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NiveauTaxonomique)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reformulation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Context)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SavoirFaireProgramme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SavoirEtreProgramme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidationApprouve)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdresseCourrielNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodeCompetenceNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Obligatoire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NiveauTaxonomique)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reformulation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Context)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SavoirFaireProgramme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SavoirEtreProgramme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidationApprouve)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdresseCourrielNavigation.AdresseCourriel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodeCompetenceNavigation.CodeCompetence)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAnalyseAc">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdAnalyseAc">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAnalyseAc">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
